<!DOCTYPE html>

<html lang="en">

<head>
    <a href="./add_media.html"> Add Media</a>
</head>

<body>
    <section data-position="add-event">
        <h2><i class='media-form' style='font-size:40px'></i> Add Media</h2>
        <ul class="add-media">
        <form action="/events" method="POST">
          <input type="text" placeholder="Name" name="Name" size="50"/>
          <input type="text" placeholder="Host" name="Host" size="50"/>
          <input type="text" placeholder="MM/DD/YYYY" name="Date" size="50"/>
          <input type="text" placeholder="Time" name="Time" size="50"/>
          <input type="text" placeholder="Where" name="Where" size="50"/>
          <input type="text" placeholder="Enter details here..." name="Description" size="50"> <br>
          <button type="submit">Submit</button>
        </form>
      </ul>
      </section>
</body>