<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    -->
</head>
<body>

  <section data-position="search_event">
    <form action="/search_media" method="POST">
      <label>Title: </label>
      <input type="text" placeholder="Title" name="title"><br><br>
      <label>Author: </label>
      <input type="text" placeholder="Author" name="author"><br><br>
      <button>Submit</button>
    </form>
  </section>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Star Wars Date</th>
          </tr>
        </thead>
        <tbody>
        <%mediaList.forEach(media => {%>
            <tr>
                <th scope="row"><%= media.media_title %></th>
                <td><%= media.author %></td>
                <td><%= media.publisher %></td>
                <td><%= media.star_wars_date %></td>
            </tr>
        <%})%>
        </tbody>
      </table>
</body>
</html>