<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing All Media</title>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    -->
    <nav>
      <a href="./add_media.html"> Add Media</a>
      <a href="./register.html"> Register</a>
      <a href="./login.html"> Login</a>
      <a href="/main_display"><li> Show All Media </li></a>
    </nav>
</head>
<body>

  <section data-position="search_event">
    <form action="/search_media" method="POST">
      <label>Title: </label>
      <input type="text" id="media_title" placeholder="Search Title" size="50"/><br/>
      <label>Series: </label>
      <input type="text" id="media_super_heading" placeholder="Search Series" size="50"/><br/>
      <label>Number in series: </label>
      <input type="number" id="number_in_series" placeholder="Search Place in Series" size="50"/><br/>
      <label>Author: </label>
      <input type="text" id="author" placeholder="Search Author" size="50"/><br/>
      <label>Publisher: </label>
      <input type="text" id="publisher" placeholder="Search Publisher" size="50"/><br/>
      <label for="published_date">Published date:</label>
      <input type="date" id="published_date" placeholder="Search Published Date" size="50" min = "1977-05-25"><br/>
      <label>Beginning Date: </label>
      <input type="number" id="star_wars_begin_date" placeholder="Search beginning date in Star Wars" size="50">
      <input type = "radio" id = "star_wars_begin_date_aby" name = "begin_date_aby_bby" value = "begin_aby">
      <label for = "begin_aby">ABY</label>
      <input type = "radio" id = "star_wars_begin_date_bby" name = "begin_date_aby_bby" value = "begin_bby">
      <label for = "begin_bby">BBY</label> 
      <br/>
      <label>Ending Date: </label>
      <input type="number" id="star_wars_end_date" placeholder="Search ending date in Star Wars" size="50">
      <input type = "radio" id = "star_wars_end_date_aby" name = "end_date_aby_bby" value = "end_aby">
      <label for = "end_aby">ABY</label>
      <input type = "radio" id = "star_wars_end_date_bby" name = "end_date_aby_bby" value = "end_bby">
      <label for = "end_bby">BBY</label>
      <br/>
      <button>Submit</button>
    </form>
  </section>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
          </tr>
        </thead>
        <tbody>
        <%mediaList.forEach(media => {%>
            <tr>
                <th scope="row"><%= media.media_title %></th>
                <td><%= media.author %></td>
                <td><%= media.publisher %></td>
                <br>
            </tr>
        <%})%>
        </tbody>
      </table>
</body>
</html>